language: php

php:
  - 7.0

install:
  - composer install --no-interaction

script:
  - cp .env.example .env
  - php artisan jwt:secret -f
  - php -S localhost:8000 -t public/ &
  - vendor/bin/phpunit -v -c phpunit.xml --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
