language: php

php:
  - 7.0

env:
  - DB=sqlite
  
install:
  - composer install --no-interaction

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
