// color theme 'Flat UI'
$white: #ECF0F1;
$red: #E74C3C;
$green: #68CC75;
$orange: #e99516;
$dark-blue: #2980B9;
$light-blue: #3498DB;
$bg: #a7a7a7;
$light-dark: #415365;
$dark: #2C3E50;

$bold: 700;

body {
    color: $dark;
    // TODO mem
    // font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $dark-blue;
}

.main-header {
    padding-top: 30px;
}

#site-name-header {
    font-weight: $bold;
    display: block;
    font-size: 35px;
}

.little-help {
    color: $bg;
}

.blog-body {
    padding-top: 25px;
}

.logo {
    img {
        width: 128px;
    }
}

// placeholder
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $dark !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: $dark !important;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: $dark !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: $dark !important;
}

// bootstrap custom
.form-control {
    border-radius: 0;
    border: 1px solid $light-blue;
}
.btn-default {
    color: $white;
    background-color: $dark;
    border-color: $dark;
    border-radius: 0;
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
    color: $white;
    background-color: $light-dark;
    border-color: $dark;
}
.btn-default:hover {
    color: $white;
    background-color: $dark-blue;
    border-color: $dark;
    border-radius: 0;
}
.btn-default.focus,
.btn-default:focus {
    color: $white;
    background-color: $dark-blue;
    border-color: $dark;
    border-radius: 0;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: $white;
    background-color: $light-dark;
    border-color: $dark;
}

/**
 * News
 */
.news-body {
    padding-top: 15px;
    .news-title {
        font-size: 25px;
    }
    .news-block {
        padding-bottom: 15px;
        .news-tags {
            font-size: 15px;
            color: $light-blue;
        }
        .news-date {
            font-size: 10px;
            color: $bg;
        }
        .news-text {
            margin-top: 15px;
        }
    }
    .news-comments-counter {
        margin-top: 5px;
        color: $green;
        font-size: 12px;
    }
}

.post-date {
    font-size: 12px;
    color: $bg;
    margin-bottom: 15px;
}
/**
 * Page all tags
 */
.favorite-title {
    font-size: 25px;
}

$fav-padding: 3px;

.favorite-tags {
    font-size: 16px;
    margin-top: 25px;
    span {
        padding-left: $fav-padding;
        padding-right: $fav-padding;
    }
}

.regular-tags {
    font-size: 13px;
    margin-top: 25px;
    a {
        color: $light-blue;
    }
    span {
        padding-left: $fav-padding;
        padding-right: $fav-padding;
    }
}

// other
.tags-header {
    a {
        font-weight: $bold;
        font-size: 18px;
        color: $dark;
        text-decoration: none;
    }
}

.footer {
    padding-top: 55px;
    .inf {
        font-size: 11px;
        padding-bottom: 8px;
        color: $bg;
    }

}

.block-tags {
    .favorite-tags-title {
        padding-left: 10px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .favorite-tags {
        padding-left: 10px;
        font-size: 12px;
    }
    a {
        color: $dark-blue !important;
    }
}

.site-header {
    margin-top: 30px;
}

.search-block {
    margin-top: 50px;
}

.n-title {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

/**
 * code
 */

pre {
    color: #333;
    background-color: $white;
    border: 1px solid $bg;
    border-radius: 0;
}

pre[class*="language-"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: 10px solid $dark-blue;
    // background-color: $white;
}
pre[class*="language-"]:after,
pre[class*="language-"]:before {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
pre[class*="language-"]:after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.about-tag {
    margin-bottom: 30px;
    font-size: 20px;
    color: $red;
    span {
        font-weight: bold;
        font-size: 25px;
        font-family: 'Roboto Condensed', sans-serif;
    }
}
